/* Loader Spinner */
.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid rgb(var(--color-accent));
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* To handle the overlay */
.wire-loading {
    display: none;
}

.wire-loading.flex {
    display: flex;
}

/*custom css*/
.banner-slide-content {
    background-size: cover; /* Ensures the background image covers the entire slide */
    background-position: center; /* Centers the background image */
    color: white; /* Change this based on your background */
    padding: 20px; /* Adjust padding as needed */
    height: 200px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensures the content is positioned correctly */
}

.banner-title {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin: 0.5rem 0;
    text-align: left; /* Center the title text */
}

.banner-description {
    font-size: 1rem; /* Adjust font size as needed */
    margin: 0.5rem 0;
    text-align: left; /* Center the description text */
}

.product_category {
    border-width: 1px !important;
}

.product_category:hover {
	border-color: rgba(var(--color-accent)) !important;
}

.product_category.active {
	border-color: rgba(var(--color-accent)) !important;
}

button.reset_filter_btn {
    background-color: #e1d7d7;
    color: black;
}

button.reset_filter_btn:hover {
    background-color: grey;
    color: white;
}

.small-select {
    min-width: 70px;
    height: 40px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    color: var(--color-accent);
}

.ltr\:\!pl-1 {
    padding-left: 1rem !important;
}

.shipping_address_container.active {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    --tw-border-opacity: 1 !important;
    border-color: rgba(var(--color-accent), var(--tw-border-opacity)) !important;
    border-width: 1px !important;
    background-color: white;
}

.payment_method_section.active {
     box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    --tw-border-opacity: 1 !important;
    border-color: rgba(var(--color-accent), var(--tw-border-opacity)) !important;
    border-width: 1px !important;
    background-color: white;
}

.text-accent-contrast {
    color: rgba(var(--color-accent-contrast));
}

.border-active {
    border-color: rgba(var(--color-accent));
}

.product-list-out-of-stock-span {
    height: 35px;
    margin-top: 10px;
}

.reviews-list {
    margin-top: 20px;
}

.review-item {
    margin-bottom: 15px;
}

.review-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    color: #ff9800;
}

.date {
    color: #777;
    font-size: 14px;
}

.review-body {
    font-size: 14px;
    margin-top: 5px;
}

.custom-mr-15 {
    margin-right: 15%;
}

.custom-ml-5{
    margin-left: 5%;
}

/*End custom css*/